/* 리셋 */
* {
  margin: 0;
  padding: 0;
}

/* loading */
#load { 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  position: fixed; 
  display: block; 
  opacity: 0.8; 
  background: white; 
  z-index: 99; 
  text-align: center; 
} 
#load > img { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  z-index: 100; 
}

#greeting {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #444;
  animation: fadeout 1.5s;
  -webkit-animation: fadeout 1.5s; /* Safari and Chrome */
  justify-content: center;
  align-items: center;
}
@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      display: none;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      display: none;
  }
}
#hello {
  position: relative
  ;
  transform: translate(0%, -60%);
  top: 50vh;
  font-family: "Manrope", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;  
}

/* 전체 레이아웃 */
#wrap {
  margin: 0 auto;
  height: 100%;
}
#contents {
  float: left;
  width: 100%;
  height: fit-content;
}
#footer {
  float: left;
  width: 100%;
  height: 30%;
}
#nav {
  float: left;
  width: 100%;
  height: 40px;
  bottom: 0;
  position: fixed;
}

/* 세부 레이아웃 */
#contents1 {
  float: left;
  width: 582px;
  height: 150px;
}
#contents2 {
  float: left;
  width: 288px;
  height: 150px;
}
#contents3 {
  float: left;
  width: 295px;
  height: 150px;
}
#contents4 {
  float: left;
  width: 350px;
  height: 420px;
}
#contents5 {
  float: left;
  width: 300px;
  height: 150px;
}
.footer-container {
  position: fixed;
  padding-top: 30%;
  left: var(--padding);
  bottom: calc(var(--padding) - 165px);
  display: flex;
  width: calc(100% - var(--padding) * 2);
  align-items: baseline;
}
.footer-container .centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer-container .centered img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: inherit;  
}
@media screen and (max-width: 1520px) {
  .footer-container .centered img {
    display: none;
  }
}
#nav-container {
  float: left;
  width: 100%;
  height: 40px;
  bottom: 0;
  position: fixed;
}
#nav-about {
  width: 105px;
  height: 25px;
  position: fixed;
  right: 150px;
  bottom: 15px;
}
#nav-work {
  width: 105px;
  height: 25px;
  position: fixed;
  right: 45px;
  bottom: 15px;
}
:root {
  --button-color: #ffffff00;
  --button-bg-color: #ffffff00;
  --padding: 48px;
}
button {
  /* 생략 */
  margin: 0;
  padding: 0;

  font-family: "Manrope", sans-serif;
  font-size: 1.18rem;
  font-weight: 500;
  color: #444;
  text-align: center;
  text-decoration: none;
  display: block;
  width: auto;
  border: none;
  background: var(--button-bg-color);
}
.project1 {
  margin-top: 35px;
  margin-left: 30px;
}
.project2 {
  margin-top: 31px;
  margin-left: 30px;
}
.project3 {
  margin-top: 35px;
  margin-left: 30px;
}