body{
    margin: 0;
    background-color: white;
    overflow: hidden;
}
body, body * {
    cursor: none;
}

/* skiiiiim */
.graphic{
    fill:#444444;
    position: absolute;
    width: 100%;
    height: 26vmin;
    font-family:'Manrope', sans-serif;
    font-weight: 700;
    font-size: 25vmin;

    top: 10vmin;
    left:0;
}

#ski {
    transform: translate(0vmin, 25vmin)
}

#m{
    transform: translate(34vmin, 25vmin);
}

/* 레이아웃 */
#wrap {
    margin: 0 auto;
}
#nav {
    float: left;
    width: 200px;
    height: 100px;
}
.back {
    margin-top: 35px;
    margin-left: 30px;
}
button {
    /* 생략 */
    margin: 0;
    padding: 0;

    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #444;
    text-align: center;
    text-decoration: none;
    display: block;
    width: auto;
    border: none;
    background: var(--button-bg-color);
  }

  .cursor { 
    position: fixed;
    background: #444;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    z-index: 10000;
}