body{
    margin: 0;
    background-color: white;
    overflow: hidden;
}

/* skiiiiim */
.graphic{
    fill:#101101;
    position: absolute;
    width: 100%;
    height: 26vmin;
    font-family:'Manrope', sans-serif;
    font-weight: 700;
    font-size: 25vmin;

    top: 10vmin;
    left:0;
}

#ski {
    position: absolute;
    transform: translate(0vmin, 25vmin)
}

#m{
    position: absolute;
    transform: translate(34vmin, 25vmin);
}

.transition{
    animation-timing-function: ease-in-out;
    -webkit-transition: transfrom 2s;
    -moz-transition: transfrom 2s;
    -o-transition: transfrom 2s;
    transition: transform 2s;
}



.get_sql{
    position: absolute;
    margin-top: 35px;
    margin-left: 400px;
}

/* 레이아웃 */
#wrap {
    margin: 0 auto;
}
#nav {
    float: left;
    width: 200px;
    height: 100px;
}
.back {
    margin-top: 35px;
    margin-left: 30px;
}
button {
    /* 생략 */
    margin: 0;
    padding: 0;

    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #444;
    text-align: center;
    text-decoration: none;
    display: block;
    width: auto;
    border: none;
    background: var(--button-bg-color);
  }