  /* 리셋 */
  * {
    margin: 0;
    padding: 0;
  }

  /* 전체 레이아웃 */
  #wrap {
    margin: 0 auto;
  }
  #nav {
    float: left;
    width: 200px;
    height: 200px;
  }
  #container {
    float: left;
    width: 1000px;
    height: 200px;
  }
  #contents {
    float: left;
    width: 510px;
    height: 200px;
  }
  
  #image {
    clear: both;
    height: 700px;
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
  }

  /* 세부 레이아웃 */
  #contents_tit_1 {
    width: 100px;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    margin-top: 35px;
    font-weight: 500;
    color: #444;
  }
  #contents_tit_2 {
    float: left;
    width: 100px;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    margin-top: 60px;
    font-weight: 500;
    color: #444;
  }
  #contents_cont_1 {
    float: left;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    margin-top: 35px;
  }
  #contents_cont_2 {
    width: 400px;
    float: left;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    margin-top: 60px;
    font-weight: 600;
    color: #444;
  }

  :root {
    --button-color: #ffffff00;
    --button-bg-color: #ffffff00;
  }
  
  button {
    /* 생략 */
    margin: 0;
    padding: 0;

    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #444;
    text-align: center;
    text-decoration: none;
    display: block;
    width: auto;
    border: none;
    background: var(--button-bg-color);
  }

  .back {
    margin-top: 35px;
    margin-left: 30px;
  }